{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
{% endblock %}
{% block contenido %}



<form action="" method="POST">
 
    <div class="form">
       <div class="container lider-text justify-content-center">
           <h1 class=" text-center ">Registro de Usuario</h1>
        {% csrf_token %}
     
        {{ form | crispy }}

        <p class="text-center">Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
        
        <input type="submit" class="btn btn-success  " value="Registrarse">
        <p class="text-center" align-items-center ><a class="cuenta"  href="{% url 'login' %}">¿Ya tengo cuenta?</a></p>

       </div>
        
      
    </div>
</form>
{% endblock %}


{% block js %}

{% endblock %}
 