{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}
<div class="hero-wrap hero-bread" style="background-image: url(static/core/images/bg_6.jpg);">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio</a></span> <span>Producto</span>
				</p>
				<h1 class="mb-0 bread">Productos</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row">


			<div class="col-md-8 col-lg-10 order-md-last">
				<div class="row">
					{% for aux in listaProductos %}


					<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
						<div class="product d-flex flex-column">
							<a href="#" class="img-prod">
								{% if aux.imagen %}
								<img class="img-fluid" src="{{ aux.imagen.url }}" alt="Colorlib Template">>
								{% else %}
								<img src="#" alt="Colorlib Template""
										height=" 100">
								{% endif %}
								<div class="overlay"></div>
							</a>
							<div class="text py-3 pb-4 px-3">
								<div class="d-flex">
									<div class="cat">
										<span>Lifestyle</span>
									</div>
									<div class="rating">
										<p class="text-right mb-0">
											<a href="#"><span class="ion-ios-star-outline"></span></a>
											<a href="#"><span class="ion-ios-star-outline"></span></a>
											<a href="#"><span class="ion-ios-star-outline"></span></a>
											<a href="#"><span class="ion-ios-star-outline"></span></a>
											<a href="#"><span class="ion-ios-star-outline"></span></a>
										</p>
									</div>
								</div>
								<h3><a href="#">{{aux.nombre}}</a></h3>
								<div class="pricing">
									{% if aux.stock > 5 %}
									<p>Stock:{{aux.stock}}</p>
									{% else %}
									<p>Stock: AGOTADO</p>
									{% endif%}
									<p class="price"><span>{{aux.precio}}</span></p>


								</div>
								<p class="bottom-area d-flex px-3">
									<a href="{% url 'Add' aux.id %}" style="color: black;"
										class="btn btn-primary mt-3 mb-3 d-flex justify-content-center">Agregar al
										carrito</a>
									<!-- <a href="#" class="buy-now text-center py-2">Comprar ahora<span><i class="ion-ios-cart ml-1"></i></span></a>-->
									<a href="{% url 'actualizarproductos' aux.id %}"
										class="buy-now text-center py-2">Actualizar</a>

									<a onclick="eliminar({{ aux.id }})" class="buy-now text-center py-2">Eliminar</a>

								</p>
							</div>
						</div>
					</div>
					{% endfor %}


				</div>
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul>
								<li><a href="#">&lt;</a></li>
								<li class="active"><span>1</span></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&gt;</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>


</section>

<section class="ftco-gallery">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
				<h2 class="mb-4">Siguenos en instagram</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid px-0">
		<div class="row no-gutters">
			<div class="col-md-4 col-lg-2 ftco-animate">
				<a href="{% static 'core/images/mascota1.jpg' %}"
					class="gallery image-popup img d-flex align-items-center"
					style="background-image: url( static/core/images/mascota1.jpg );">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-lg-2 ftco-animate">
				<a href="{% static 'core/images/mascota2.webp' %}"
					class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(static/core/images/mascota2.webp);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-lg-2 ftco-animate">
				<a href="{% static 'core/images/mascota3.jpg' %}"
					class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(static/core/images/mascota3.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-lg-2 ftco-animate">
				<a href="{% static 'core/images/mascota4.jpg' %}"
					class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(images/mascota4.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-lg-2 ftco-animate">
				<a href="{% static 'core/images/mascota5.jpg' %}"
					class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(images/mascota5.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-lg-2 ftco-animate">
				<a href="{% static 'core/images/mascota6.jpg' %}"
					class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(images/mascota6.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>


{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src=" {% static 'core/js/mensaje.js' %}"></script>

{% endblock %}