{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}
<div class="hero-wrap hero-bread" style="background-image: url(static/core/images/bg_6.jpg);">
	<div class="container">
	  <div class="row no-gutters slider-text align-items-center justify-content-center">
		<div class="col-md-9 ftco-animate text-center">
			<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio</a></span> <span>Producto</span></p>
		  <h1 class="mb-0 bread">Productos</h1>
		</div>
	  </div>
	</div>
  </div>

  <section class="ftco-section bg-light">
	  <div class="container">
		  <h6>UF: {{monedas.uf.valor}} = DOLAR {{monedas.dolar.valor}} = EURO : UF: {{monedas.euro.valor}} </h6>
		  <div class="row">
			<div class="container">
				<div class="row">
					<div class="col-4 m-4">
						{% for aux in personajes %}
						<p>Nombre: {{ aux.name }} - Raza: {{ aux.species }}</p>
						<img src="{{ aux.image }}" alt="">
						  {% endfor %}
  


						{% for aux in digimon %}
						<p>Nombre: {{ aux.name }} - level: {{ aux.level }}</p>
						<img src="{{ aux.img }}" alt="">
						  {% endfor %}

					</div>
				</div>
			</div>


		</div>
	</section>
	  
	<section class="ftco-gallery">
	  <div class="container">
		  <div class="row justify-content-center">
			  <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
		  <h2 class="mb-4">Siguenos en instagram</h2>
		</div>
		  </div>
	  </div>
	  <div class="container-fluid px-0">
		  <div class="row no-gutters">
				  <div class="col-md-4 col-lg-2 ftco-animate">
					  <a href="{% static 'core/images/mascota1.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url( static/core/images/mascota1.jpg );">
						  <div class="icon mb-4 d-flex align-items-center justify-content-center">
						  <span class="icon-instagram"></span>
					  </div>
					  </a>
				  </div>
				  <div class="col-md-4 col-lg-2 ftco-animate">
					  <a href="{% static 'core/images/mascota2.webp' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(static/core/images/mascota2.webp);">
						  <div class="icon mb-4 d-flex align-items-center justify-content-center">
						  <span class="icon-instagram"></span>
					  </div>
					  </a>
				  </div>
				  <div class="col-md-4 col-lg-2 ftco-animate">
					  <a href="{% static 'core/images/mascota3.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(static/core/images/mascota3.jpg);">
						  <div class="icon mb-4 d-flex align-items-center justify-content-center">
						  <span class="icon-instagram"></span>
					  </div>
					  </a>
				  </div>
				  <div class="col-md-4 col-lg-2 ftco-animate">
					  <a href="{% static 'core/images/mascota4.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/mascota4.jpg);">
						  <div class="icon mb-4 d-flex align-items-center justify-content-center">
						  <span class="icon-instagram"></span>
					  </div>
					  </a>
				  </div>
				  <div class="col-md-4 col-lg-2 ftco-animate">
					  <a href="{% static 'core/images/mascota5.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/mascota5.jpg);">
						  <div class="icon mb-4 d-flex align-items-center justify-content-center">
						  <span class="icon-instagram"></span>
					  </div>
					  </a>
				  </div>
				  <div class="col-md-4 col-lg-2 ftco-animate">
					  <a href="{% static 'core/images/mascota6.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/mascota6.jpg);">
						  <div class="icon mb-4 d-flex align-items-center justify-content-center">
						  <span class="icon-instagram"></span>
					  </div>
					  </a>
				  </div>
	  </div>
	  </div>
  </section>

 
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src=" {% static 'core/js/mensaje.js' %}"></script>

{% endblock %}

    